*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  @extend .font-regular;
  @extend .h-line-1-5;
  height: 100%;
  direction: ltr;
}

button {
  background-color: transparent;
  border: 1px solid $default-text-color;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

h1 {
  margin-bottom: 1rem;
}

p {
  color: $primary-text-color;
  font-weight: bolder;
  font-size: 2rem;
}

.control {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
